<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div><h1>{{ todo_object.name }}</h1></div>
        <div><a href="{% url "todo_list_update" todo_object.id %}">Edit list name</a></div>
        <div><a href="{% url "todo_list_delete" todo_object.id %}">Delete</a></div>
        <div><h2>Tasks</h2></div>
        <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for TodoList in todo_object.items.all %}
            <tr>
                <td><a href="{% url "todo_item_update" TodoList.id %}">{{ TodoList.task }}</a></td>
                <td>{{ TodoList.due_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </main>
</body>
</html>
