<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div><h1> My Lists </h1></div>
        <a href="{% url "todo_list_create" %}">Create a new list</a>
        <a href="{% url "todo_item_create" %}">Create a new item</a>
        <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Number of items</th>
            </tr>
        </thead>
        <tbody>
            {% for todo_object in show_todo_list %}
                <tr>
                    <td> <a href="{% url 'todo_list_detail' todo_object.id %}"> {{ todo_object.name }}</a> </td>
                {% if todo_object.items.all %}
                    <td> {{todo_object.items.all|length }} </td>
                {% else %}
                    <td> {{todo_object.items.all|length }} </td>
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </main>
</body>
</html>
